.Big_container
{
    display: flex;
    justify-content: center;    
}

.container2
{
    background-color: rgb(221, 214, 214);
    border-color:  rgb(221, 214, 214);
    border-radius: 5px;
    border-style: solid;
    width:33%;

}

.child_
{
    width: 20%;
    padding: 5px;
    margin-bottom: -10px;
    border-radius: 5px;
}

.imgs
{
    display: inline;
}

.candy
{
    background-color: rgb(239, 180, 180);
}

.diamond
{
    background-color: rgb(151, 187, 244);
}

.sword
{
    background-color: rgb(177, 215, 240);
}

.boat
{
    background-color: rgb(253, 253, 253);
}

.gift
{
    background-color: rgb(210, 189, 218);
}

.house
{
    background-color: rgb(210, 189, 218);
}

.mountain
{
    background-color: rgb(252, 252, 252);
}

.pine
{
    background-color: rgb(209, 245, 176);
}

.star
{
    background-color: rgb(236, 247, 197);
}

.Big_container
{
    display: flex;
    justify-content: center;    
}

.container
{
    background-color: azure;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: solid;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    width: 50%; 
}

.childx
{
    width:40%;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;

    
}

.imgx
{
    display: inline;
}

.ul1
{
    padding-inline-start: 0%;

}

.ul2
{
    padding-inline-start: 0%;
}




/*background-color: rgb(221, 214, 214);*/
