mark
{
    background-color: aquamarine;
}

body
{
    background-color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.content
{
    text-align: center;
}

.media
{
    width: 75%;
}

